{% extends 'personal_website/base.html' %}
{% load static %}

{% block title %}
Home
{% endblock title %}


<!-- About Me Section-->
<body>
  {% block content %}
  <div class="about-me-container">
    <h2>About Me</h2>
    <p>Hello! My name is Trevor Seestedt and welcome to my website! 
      I am currently a <b>Senior at the University of South Carolina</b> pursuing a <b>Bachelor of Science in Computer Science</b>, 
      with an expected graduation date of <b>May 2025</b>. </p>
    <p>Thoughout my academic journy, I have worked on various projects that have enhanced my problem solving abilities, software design fundamentals, and technical expertise.
      I am proficient in <b>Python (Django), Java, C++, JavaScript, SQL,</b> and <b>HTML/CSS</b>, and have applied these skills while building scalable applications, data-driven systems, and 
      automation solutions. My coursework in <b>Software Engineeing, Data Structures & Algorithms, Operating Systems, Databsae System Design,</b> and <b>Artificial Intelligence</b>
      have all provided me with a strong foundation in both front-end and back-end development.
    </p>
    <p>I have gained hands-on experience through internships in <b>Data Operations</b> and <b>IT Support</b>, where I developed Python scripts to automate workflows, implemented web scraping techniques, 
      and provided technical solution for large-scale data validation. Additionally, I have collaborated on team-based projects with my peers, such as designing a Django-based student engagement platform (ColdCall)
      for a professor of the University and a Java-based Learning Management System with database integration.
    </p>
    <p>Beyond coding, I enjoy watching movies as well as staying active by working out and playing basketball or tennis.
    </p> 
    <p>This website serves as a display for all of the projects that I have been and will be working on.
    Feel free to navigate to my <b>Projects</b> page to take a look at what I have been working on! If there is any reason you would like to reach out, 
      please scroll down to the <b>Contact</b> section and use any of the provided methods.
    </p>
  </div>

  <!-- Resume Section -->
  <div class="resume-container">
    <h2>Resume</h2>
    <p>Below is a link to view a copy of my resume.</p>
    <a class = "btn" href="{% static 'personal_website/images/TrevorSeestedt_Resume.pdf' %}" target="_blank" rel="noopener noreferrer">Click to Open Resume</a>
  </div>

  <!-- Contact Section -->
  <div class="contact-container">
    <h2>Contact</h2>
    <p>For any inquiries or questions, please feel free to reach out!</p>
    <p>Email: <a href="mailto:seestedttrevor@gmail.com">seestedttrevor@gmail.com</a></p>
    <p>Phone: <a href="tel:610-322-6475">610-322-6475</a></p>
    <div class="social-icons">
      <div class="github-icon" onclick="githubNewTab()">
        <img src="{% static 'personal_website/images/GitHub_Icon.png' %}">
      </div>
      <div class="linkedin-icon" onclick="linkedinNewTab()">
        <img src="{% static 'personal_website/images/LinkedIn_Icon.png' %}">
      </div>
    </div>
  </div>
  {% endblock content %}

  <script src="{% static 'personal_website/js/typing.js' %}"></script>
</body>
